= content_for :page_title, 'DJ Lychee'

.blogpost

  .title
    DJ Lychee

  <p>I had a radio show and acted as Publicity Director for Tufts' radio station, <a href="http://wmfo.org" target="_blank">WMFO</a>, for three years, so I guess it makes sense that since taking a DJ class at Somerville, MA's <a href="http://artisansasylum.com">Artisan's Asylum</a> in summer 2012, I've been playing live a bit more often. I may not have the impulse to create my own music, but I don't think I'll ever get tired of interacting with the music I love as a DJ. I've played at Middlesex Lounge, Cambridge Elk's Lodge, and various loft and house parties.</p>
  <p>My latest mixes can be found on <a href="http://mixcloud.com/notalyce" target="_blank">Mixcloud</a>:</p>
  <p><iframe width="670" height="60" src="//www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2Fnotalyce%2Fwho-years-eve-opening-set%2F&amp;mini=1&amp;embed_type=widget_standard&amp;embed_uuid=ed8fe131-bccf-4cc4-8bea-0fea2d48930f&amp;hide_tracklist=1&amp;hide_cover=1" frameborder="0"></iframe><div style="clear: both; height: 3px; width: 662px;"></div></p>
  <p><iframe width="670" height="60" src="//www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2Fnotalyce%2Fcacao-9192013-live%2F&amp;mini=1&amp;embed_type=widget_standard&amp;embed_uuid=f1b22006-e2c1-4192-9c64-d2d68da58c3b&amp;hide_tracklist=1&amp;hide_cover=1" frameborder="0"></iframe><div style="clear: both; height: 3px; width: 662px;"></div></p>
  <p><iframe width="670" height="60" src="//www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2Fnotalyce%2Ftropicalia-10-live%2F&amp;mini=1&amp;embed_type=widget_standard&amp;embed_uuid=5ba02311-f4c4-4524-908a-ff129adc6f81&amp;hide_tracklist=1&amp;hide_cover=1" frameborder="0"></iframe><div style="clear: both; height: 3px; width: 662px;"></div></p>
  <p><a href="http://digboston.com/boston-music-concerts/2013/06/dj-set-of-the-week-lychee/" target="_blank">DJ Set of the Week: Lychee (<em>Weekly Dig</em>)</a></p>
  <p>I'm always excited to play new events - <a href="/contact">get in touch if you need a DJ!</a></p>
  <p><img src="http://embed-0.wistia.com/deliveries/4eba90a890ca20b1299bd3316528998d28fa0c4d.jpg?image_resize=670" /></p>
