= content_for :page_title, 'Projects'

.blogpost

  .title
    Things In Progress

  <p>Things that are keeping my brainparts moving.</p>

  <h3>Wistia</h3>
  <p>My primary focus right now is on my job as Content Strategist at <a href="http://wistia.com">Wistia</a>, a video hosting and marketing platform. I mostly focus my time on being the editor of our <a href="http://wistia.com/blog">blog</a> and overseeing the <a href="http://wistia.com/learning">Learning Center</a> that I helped develop. It's a lot of fun working with people in a wide variety of jobs to hone their writing skills and get their thoughts online.</p>

  <p><img src="http://embed-0.wistia.com/deliveries/c0be6ddb7c2244f178f387117b41f2c931260af0.jpg?image_resize=670" /></p>

  <h3>Earmilk</h3>
  <p>I also work as a Senior Editor at the online music magazine <a href="http://earmilk.com">Earmilk</a>, editing writers' pieces and helping to guide the direction of the organization as a whole by serving as a bridge between the business/operations and editorial sides of the publication. My writing for Earmilk these days focuses on artist interviews and event coverage.</p>

  <p><img src="http://embed-0.wistia.com/deliveries/c2257148150da84d5dac51173662eabaf724feb4.jpg?image_resize=670" /></p>

  <h3>Virtuality</h3>

  <p>Virtuality was born in the forests of Vermont during a regional Burning Man event and has since evolved into a little collective of friends organizing music, art, and technology-focused events together. After a series of experiments over the last couple years in our respective houses, we finally threw our first major Boston-based event in December 2013 at a rented loft space in Allston, and as a collective I can only assume we're going to keep growing in 2014.</p>

  <p><img src="http://embed-0.wistia.com/deliveries/7ea76f9272cd54105df430bdf2f04aac0b4fa7c1.jpg" /></p>
