= content_for :page_title, 'Book Club'

.blogpost

  .title
    Biz + Tech + Texts

  <p><strong>Biz + Tech + Texts</strong> is a multidisciplinary reading group or book club or whatever the kids are calling it these days about technology, business, and theory. The goal is to think about critical theory, feminism, etc. as it applies to working in and with technology.</p>

  <p>We meet IRL monthly in Cambridge, MA at the <a href="http://www.wistia.com" target="_blank">Wistia</a> office, and anyone is welcome to join the conversation online! Right now, the <a href="https://www.facebook.com/groups/567485713334826/">Facebook group</a> is the best way to keep up with the group and take part in discussions, although you can also subscribe via the <a href="http://groups.google.com/d/forum/biz-tech-texts">email list/Google group</a> or check this page to find out about the next meeting.</p>

  <h3>Next Meeting: <em>The Boy Kings</em></h3>
  <img src="http://embed-0.wistia.com/deliveries/37cc327e4cc17a62c8b5cb98725f8ca1077b1c33.jpg?image_resize=200" style="float:right;margin-left:20px;" />

  <p>For the first IRL meeting of this lil book club, we'll be reading Katherine Losse's <em>The Boy Kings</em>, an examination of the business and culture at Facebook from the perspective of an early, female, non-technical employee who eventually became Mark Zuckerberg's speechwriter. It's a really quick read!</p>

  <ul>
  <li><a href="http://www.amazon.com/Boy-Kings-Journey-Social-Network-ebook/dp/B007MAXH38/" target="_blank">Buy <em>The Boy Kings</em> via Amazon</a></li>
  <li><a href="http://product.half.ebay.com/The-Boy-Kings-A-Journey-into-the-Heart-of-the-Social-Network-by-Katherine-Losse-2012-Hardcover/117262368&cpid=5000007040137">Buy <em>The Boy Kings</em> via Half.com</a></li>
  </ul>

  <h4>Time + Location</h4>
  
  <p><strong>Thursday, February 13 at 8:00 pm.</strong> We'll meet at <strong>Wistia HQ</strong>, about 10 minutes from the Central Square T stop. <a href="/contact">Contact Alyce</a> for more exact directions.</a></p>

  <h4>The Only Rule</h4>

  <p>Don't make anybody feel stupid.</p>

  <h4>Related Links</h4>

  <ul>
  <li><a href="http://twitter.com/katelosse" target="_blank">Katherine Losse on Twitter</a></li>
  <li><a href="http://www.dissentmagazine.org/online_articles/feminisms-tipping-point-who-wins-from-leaning-in" target="_blank">Feminism's Tipping Point: Who Wins from Leaning In?</a></li>
  <li><a href="https://medium.com/hacker-culture/ba8349e64e60" target="_blank">Paul Graham and the Manic Pixie Dream Hacker</a></li>
  <li><a href="https://medium.com/on-startups/521cb394fda2" target="_blank">The Unbearable Whiteness of Breaking Things</a></li>
  </ul>
