= content_for :page_title, 'Art'

.blogpost

  .title
    Things To Look At

  <p>Eventually, I hope to build a little app to keep this page looking its best, but for now, instead of being the worst and saying this is "under construction" here are a few recent visual thingies.</p>

  <p><img src="http://embed-0.wistia.com/deliveries/fc52cf430eb69f2b2142c871ae4aa208fbef41a3.jpg?image_resize=670" /></p>
  <p><strong>Oozies //</strong> 11" x 17", Copic marker, Sharpie, pastel.</p>

  <p><img src="http://embed-0.wistia.com/deliveries/f25b76336db3b689cb3cbf70e0c57f9876874a55.jpg?image_resize=670" /></p>
  <p><strong>Firefly Arts Festival Ticket Submission //</strong> 11" x 17", Copic marker, Sharpie, pastel.</p>

  <p><img src="http://embed-0.wistia.com/deliveries/8bda22034838926b7dd1bd28c199db07c35eb83b.jpg?image_resize=670" /></p>
  <p><strong>The Cubes //</strong> Electroluminescent wire, plastic sheeting, aluminum wire.</p>

  <p><img src="http://embed-0.wistia.com/deliveries/6b391512e7b52627afadf257f05c1e56e5ab234b.jpg" /></p>
  <p><strong>Data Storm //</strong> First real metalworking project. Steel, plastic sheet, chains, engine paint.</p>

  <p><img src="http://embed-0.wistia.com/deliveries/1851cc54db31c9512b92ec14737581c2f0f6478d.jpg?image_resize=670" /></p>
  <p><strong>Bats //</strong> A brief fixation on batty tropes. Metalworked wings + illustration.</p>
