.blogpost

  .title
    Written Things

  .post_body
    %p
      Scattered writings found in various places around the Internet. Especially with the advent of platforms like <a href="http://medium.com" target="_blank">Medium</a>, I've found myself neglecting my own "blog" more and more (Kottke wrote a good piece for Nieman Labs about the <a href="http://www.niemanlab.org/2013/12/the-blog-is-dead/" target="_blank">death of the reverse-chronological blog</a>).

    %p
      More and more, I find myself trying to post things where I know they'll reach the most people, and that place is almost never the little blog I have here, regardless of the appeal of purely independent publishing. Here's a little list of links to the things I'm most happy with at the moment.

    %h2 Personal Writing

    %ul

      %li
        %strong
          %a{:href => "https://medium.com/editors-picks/d102b8dd37cc", :target => "_blank"}
            The Sociology of OkCupid:
        A brief introduction to some social theory through the lens of online dating, based on a presentation I did at BarCamp Boston.

      %li
        %strong
          %a{:href => "https://medium.com/pop-of-culture/2ea774ed946e", :target => "_blank"}
            Getting Your Tracks Noticed by Music Bloggers:
        Some advice for budding musicians on how to get music posted on blogs. Kind of an underlying exposé about how that world really works.

      %li
        %strong
          %a{:href => "https://medium.com/better-humans/e4969fa842b3", :target => "_blank"}
            Creative Freedom on the Job:
        What I learned about creating and avoiding the right constraints to stay happy making things for other people in my first two years in the working world.

    %h2 Marketing Articles for Wistia

    %ul

      %li
        %strong
          %a{:href => "http://wistia.com/blog/teaching-with-video", :target => "_blank"}
            Teaching with Video:
        Given the trend of teaching as marketing, I interviewed some video educators to write this article about lessons everyone could learn from their experience. 

      %li
        %strong
          %a{:href => "http://wistia.com/blog/be-super-human", :target => "_blank"}
            Be Super Human:
        Talked to five companies about how they use video to humanize their marketing.

      %li
        %strong
          %a{:href => "http://wistia.com/blog/content-college-blog-research", :target => "_blank"}
            Doing Blog Research Like a Sociologist:
        A guide to how I apply the research methods I learned in college to deeper blog posts.

    %h2 Event Coverage for Earmilk

    %ul

      %li
        %strong
          %a{:href => "http://www.earmilk.com/2013/10/02/festival-report-decibel-highlights-part-one/", :target => "_blank"}
            Decibel Highlights: 
        A roundup of my favorite moments at Seattle's Decibel Festival in fall 2013.

      %li
        %strong
          %a{:href => "http://www.earmilk.com/2013/05/08/festival-report-together-boston-interview-preview/", :target => "_blank"}
            Together Preview:
        A preview and interview leading up to Boston's Together Festival in spring 2013.

      %li
        %strong
          %a{:href => "http://www.earmilk.com/2013/05/13/12-ways-to-move-at-demf/", :target => "_blank"}
            Movement Preview:
        A collaborative piece with Lukas Switlicki about our must-see acts at Movement Festival in spring 2013.


    %h2 Music Interviews for Earmilk

    %ul

      %li
        %strong
          %a{:href => "http://www.earmilk.com/2013/06/22/earmilk-interview-john-digweed/", :target => "_blank"}
            John Digweed:
        Five minutes with one of my favorite DJs ever at Movement Festival in spring 2013.

      %li
        %strong
          %a{:href => "http://www.earmilk.com/2013/02/27/earmilk-interview-samo-sound-boy/", :target => "_blank"}
            Samo Sound Boy:
        An interview with producer Samo Sound Boy about his musical inspirations, why he loves Los Angeles, and running his label, Body High.

      %li
        %strong
          %a{:href => "http://www.earmilk.com/2013/07/15/earmilk-interview-justin-martin-in-detroit/", :target => "_blank"}
            Justin Martin:
        A chat with Dirtybird's Justin Martin about his creative process and perfectionism, how he became interested in electronic music, and his need for physical studio time to get things done.

      %li
        %strong
          %a{:href => "http://www.earmilk.com/2012/10/23/earmilk-interview-groundislava-jerome-lol-in-boston/", :target => "_blank"}
            Jerome LOL & Groundislava:
        A lighthearted interview with Jerome LOL (formerly of LOL Boys) and Groundislava before they played in Cambridge.

      %li
        %strong
          %a{:href => "http://www.earmilk.com/2012/03/22/earmilk-interview-salva-in-boston/", :target => "_blank"}
            Salva:
        One of my first interviews but still a favorite: talked to producer and Frite Nite label head Salva about the state of the American electronic music scene, his DJing and production techniques, his label, and his tastes and influences.
