= content_for :page_title, 'Writing'

.blogpost

  .title
    Written Things

  .post_body
    %p
      Scattered writings found in various places around the Internet. Especially with the advent of platforms like <a href="http://medium.com" target="_blank">Medium</a>, I've found myself neglecting my own "blog" more and more (Kottke wrote a good piece for Nieman Labs about the <a href="http://www.niemanlab.org/2013/12/the-blog-is-dead/" target="_blank">death of the reverse-chronological blog</a>).

    %p
      Increasingly, I find myself trying to post things where I know they'll reach the most people who care about them, and that place is almost never the little blog I have here, regardless of the appeal of purely independent publishing. In the spirit of organizing everything in one place, here's a little non-exhaustive, periodically updated list of links to the writing I'm most happy with at the moment.

    %h3 Personal Writing

    %ul

      %li
        %a{:href => "https://medium.com/editors-picks/d102b8dd37cc", :target => "_blank"}
          The Sociology of OkCupid
        (Medium)

      %li
        %a{:href => "https://medium.com/pop-of-culture/2ea774ed946e", :target => "_blank"}
          Getting Your Tracks Noticed by Music Bloggers
        (Medium)

      %li
        %a{:href => "https://medium.com/better-humans/e4969fa842b3", :target => "_blank"}
          Creative Freedom on the Job
        (Medium)

      %li
        %a{:href => "http://www.salon.com/2013/09/05/mdma_isnt_the_enemy/", :target => "_blank"}
          MDMA Isn't The Enemy
        (Salon)

      %li
        %a{:href => "http://wistia.com/blog/non-sequitur-fridays-the-most-type-a-vacation", :target => "_blank"}
          The Most Type A Vacation
        (Wistia)

    %h3 Marketing Articles

    %ul

      %li
        %a{:href => "http://wistia.com/blog/teaching-with-video", :target => "_blank"}
          Teaching with Video: Content Lessons from Professional Educators
        (Wistia)

      %li
        %a{:href => "http://wistia.com/blog/be-super-human", :target => "_blank"}
          Be Super Human: Using Video to Scale Personal Connection
        (Wistia)

      %li
        %a{:href => "http://wistia.com/blog/metrics-and-beyond", :target => "_blank"}
          Metrics and Beyond: Gauging Your Video's ROI
        (Wistia)

      %li
        %a{:href => "http://wistia.com/blog/content-college-blog-research", :target => "_blank"}
          Doing Blog Research Like a Sociologist
        (Wistia)

      %li
        %a{:href => "http://www.mpdailyfix.com/facebook-news-feed-advertising-why-we-wont-do-that-again/", :target => "_blank"}
          Facebook Advertising: Why We Won't Do That Again
        (Marketing Profs)

    %h3 Music Writing: Event Coverage

    %ul

      %li
        %a{:href => "http://www.earmilk.com/2013/10/02/festival-report-decibel-highlights-part-one/", :target => "_blank"}
          Festival Report: Decibel Highlights
        (Earmilk)

      %li
        %a{:href => "http://www.earmilk.com/2013/05/08/festival-report-together-boston-interview-preview/", :target => "_blank"}
          Interview + Preview: Together Festival
        (Earmilk)

      %li
        %a{:href => "http://www.earmilk.com/2013/05/13/12-ways-to-move-at-demf/", :target => "_blank"}
          12 Ways to Move at DEMF 2013
        (Earmilk)

      %li
        %a{:href => "http://www.earmilk.com/2012/06/12/mutek-2012-the-highlights-and-what-you-missed/", :target => "_blank"}
          Mutek 2012: Highlights of a Contemporary Carnival
        (Earmilk)

      %li
        %a{:href => "http://www.lollapalooza.com/2012/artist-discovery-earmilk-and-skream-benga/", :target => "_blank"}
          Artist Discovery: Skream and Benga
        (Lollapalooza)

    %h3 Music Writing: Interviews

    %ul

      %li
        %a{:href => "http://www.earmilk.com/2013/06/22/earmilk-interview-john-digweed/", :target => "_blank"}
          John Digweed at Movement 2013
        (Earmilk)

      %li
        %a{:href => "http://www.earmilk.com/2013/02/27/earmilk-interview-samo-sound-boy/", :target => "_blank"}
          Samo Sound Boy
        (Earmilk)

      %li
        %a{:href => "http://www.earmilk.com/2013/07/15/earmilk-interview-justin-martin-in-detroit/", :target => "_blank"}
          Justin Martin at Movement 2013
        (Earmilk)

      %li
        %a{:href => "http://www.earmilk.com/2012/10/23/earmilk-interview-groundislava-jerome-lol-in-boston/", :target => "_blank"}
          Jerome LOL & Groundislava in Boston
        (Earmilk)

      %li
        %a{:href => "http://www.earmilk.com/2012/03/22/earmilk-interview-salva-in-boston/", :target => "_blank"}
          Salva in Boston
        (Earmilk)
