.mini_post
  .title
    = link_to mini_post.title, post_path(mini_post)
  .created_at
    = mini_post.created_at.strftime('%B %d, %Y')
    , 12 Comments
  .excerpt
    = mini_post.excerpt
    %span(class = 'continue_reading')
      = link_to "Continue Reading", post_path(mini_post)
