.blogpost 
  .created_at
    = @post.created_at.strftime('%B %d, %Y')
  .title
    = @post.title
  .social_sharing
    %span(class = 'st_twitter_hcount'
          displayText = 'Tweet')
    %span(class = 'st_facebook_hcount'
          displayText = 'Facebook')
    %span(class = 'st_email_hcount'
          displayText = 'Email')
  .featured_image
    %img(src = 'http://i.imgur.com/i9wGND0.png' width = '680')
  .post_body            
    = @post.body.html_safe
  .post_comments
