= content_for :page_title, @post.title

.blogpost 
  .title
    = @post.title
  .created_at
    = @post.created_at.strftime('%B %d, %Y')
  .social_sharing
    %span(class = 'st_twitter_hcount'
          displayText = 'Tweet')
    %span(class = 'st_facebook_hcount'
          displayText = 'Facebook')
    %span(class = 'st_email_hcount'
          displayText = 'Email')
  .post_body            
    = @post.body.html_safe
  %a{:class => "moot", :href => "https://moot.it/i/alyce/my/path:my-key", :title => @post.title}
    Comments for this blog entry
