
body {
  background-color: #7ac8b5;
  background-image: asset-url('bg.png'), asset-url('bg_left.png');
  background-position: right bottom, left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font: 20px/26px 'Fauna One', serif;
  color: #30332a;
  text-align: left;
  margin: 0;
  padding: 0;
}

a {
  color: #61bf99;
  text-decoration: none;
}

a:hover, a:active {
  color: #bfe779;
}

.container {
  margin: 0 100px;
  padding: 0;
  width: 800px;
  min-height: 100%;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
}

.container header {
  display: inline-block;
  padding: 40px 40px 0px 40px;
  width: 720px;
  clear: both;
  text-align: justify;
}

.container header h1 {
  font: 60px 'Viga', sans-serif;
  padding: 0 10px;
  margin: 0;
}

.container header .title {
  float: left;
  width: 400px;
  font-size: 15px;
  line-height: 20px;
}

.title p {
  padding: 5px 15px;
  clear: both;
}

.selfie {
  float: right;
  width: 268px;
  height: 268px;
  background: asset-url('selfiebrown.png');
}

.bubbl3tea, .bubbl3tea a {
  color: #30332a;
  -webkit-text-shadow: 3px 3px 0px #bfe779;
  -moz-text-shadow: 3px 3px 0px #bfe779;
  text-shadow: 3px 3px 0px #bfe779;
  padding: 0;
  margin: 0;
}

.bubbl3tea a:hover {
  color: #21292e;
}

nav {
  margin: 0 auto;
  text-align: center;  
  background: #bfe779;
  width: 100%;
}  

nav ul {
  position: relative;
  list-style-type: none;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
 }

nav a {
  color: #fff;
  text-decoration: none;
  display: inline;
}

nav li {
  display: inline-block;
  width: 140px;
  padding: 15px;
  margin: 0;
  font-size: 16px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

//nav li:first_child {
//  margin-left: 0;
//  padding-left: 80px;
//}

//nav li:last_child {
//  margin-right: 0;
//}

nav li:hover, nav li:active {
  background: #d5fa93;
}

nav li a:hover, nav li a:active {
 color: #fff;
 }

.bodycontainer {
  font-size: 20px;
  padding: 20px 0px;
  width: 680px;
}

.bodytext {
  padding: 20px 60px;
  width: 680px;
}

.blogpost {
  padding: 0 60px;
  width: 680px;
}

.blogpost .featured_image {
  padding-bottom: 0 0 0 0;
}

.blogpost .title {
  font: 45px 'Viga', sans-serif;
  padding: 0;
  margin: 0;
  width: 720px;
}

.blogpost h3 {
  font: 40px 'Viga', sans-serif;
  padding: 0;
  margin: 0;
}

.blogpost h4 {
  font: 30px 'Viga', sans-serif;
  padding: 0;
  margin: 0;
}

.blogpost .created_at {
  font-size: 17px;
  text-transform: uppercase;
}

.blogpost .social_sharing {
  padding: 0 0 20px 0;
}

.blogpost .post_body {
  line-height: 30px;
}

.mini_post {
  font-size: 17px;
  padding: 30px 60px;
  width: 680px;
  border-bottom: 10px dotted #fcfefa;
}

.mini_post:last-child {
  border: 0;
}

.mini_post .featured_image {
  padding-bottom: 10px;
}

.mini_post .title, .mini_post .title a {
  color: #30332a;
  font: 40px 'Viga', sans-serif;
}

.mini_post .title a:hover {
  color: #1c2123;
}

.mini_post .excerpt {
}

.mini_post .created_at {
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.mini_post .continue_reading {
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 5px;
}

footer {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px;
}
